firmware/build/
host/build/
host/certs/
modules/
tools/
scripts/pong.log
scripts/pong.key
scripts/pong_tls.pcap
scripts/pong_tcpdump.log
host/broker.sslkeylog
sslkeylog.log
scripts/sslkeylog.log

*.elf
*.hex
*.bin
*.map
*.obj
*.a
